<!doctype html>
<html><head><title>Super Sprinter 3000</title></head>
<body background="../static/sky.jpeg" style="font-family:courier;color:white">
<h1>Super Sprinter 3000</h1>
{% if stories.count()!=0 %}
<table>
<thead><tr>
{% for field in stories[0].__dict__['_data'] %}
<th>{{field}}</th>
{%endfor%}</tr></thead>
<tbody>
{% for story in stories %}
<tr>
<td>{{story.id}}</td>
<td>{{story.title}}</td>
<td>{{story.text}}</td>
<td>{{story.criteria}}</td>
<td>{{story.value}}</td>
<td>{{story.estimation}}</td>
<td>{{story.status}}</td>
<td><form action="/story/{{story.id}}"><input type="image" src="../static/PENCIL.png" height="20" alt="Edit"/></form></td>
<td><form action="/delete/{{story.id}}" method=post><input type="image" src="../static/ERASER.png" height="20" alt="Delete"></form></td></tr>
{%endfor%}</tbody></table>
{%endif%}
<form action="{{url_for('form')}}">
<input type="submit" value="Create"/></form></body></html>